name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write # to be able to publish a GitHub release
  id-token: write # to enable use of OIDC for npm provenance

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: "https://registry.npmjs.org"
          cache: "npm"

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build

      - name: Generate a changelog
        uses: orhun/git-cliff-action@v4
        id: git-cliff
        with:
          config: cliff.toml
          args: -vv --latest

      - name: Zip dist
        run: zip -r dist.zip dist

      - name: Determine npm dist-tag
        id: dist
        run: |
          # 提取 tag 名，去掉 refs/tags/
          REF="${GITHUB_REF#refs/tags/}"

          if [[ "$REF" =~ - ]]; then
            # 取 - 后面的部分，再去掉 . 后面的 patch，比如 alpha.0 -> alpha
            ID="${REF#*-}"
            ID="${ID%%.*}"
            echo "Detected prerelease: $ID"
            echo "tag=$ID" >> $GITHUB_OUTPUT
          else
            echo "Stable release, using 'latest'"
            echo "tag=latest" >> $GITHUB_OUTPUT
          fi

      - name: Publish to npm
        run: npm run publish --tag ${{steps.dist.outputs.tag}}

      - name: Github Release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          body: ${{ steps.git-cliff.outputs.content }}
          files: dist.zip
          prerelease: ${{ contains(github.ref, '-') }}
